.hero .container {
    @include flex();
    align-items: flex-start;
    
    .hero-text {
        width: 50%;
        height: 60%;
        h1 {
            font-size: 80px;
            font-weight: bold;
            font-family: $secondary-font;
            color: $white;
            padding-bottom: 35px;
            width: 97%;
        }
        p {
            font-size: 24px;
            font-weight: 100;
            color: $white;
            width: 85%;
            padding-bottom: 35px;
        }
        .hero-buttons {
            display: flex;
            align-items: center;
            margin-bottom: 150px;
            .btn {
            @include button();
            @include reset-link();
            color: $white;
            font-size: 18px;
            font-weight: 200;
            margin-right: 30px;
        }
        .btn-secondary {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            font-weight: 300;
            font-size: 18px;
            img {
                width: 40px;
                height: 40px;
            }
            &:hover {
                font-weight: 600;
                gap: 0;
            }
        }       
        }  
        
        .hero-features {
            display: flex;
            gap: 40px;
            .feature {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 20%;
                text-decoration: none;
                h2 {
                color: $white;
                font-size: 18px;
                font-weight: 500;
                }
                img {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 12px;
                }
                &:hover {
                    img {
                        background-color: $pink;
                        transition: all 0.3s ease;
                    }
                    h2 {
                        color: $pink;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }

    .hero-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 30px;
        width: 50%;
        position: relative;
        }

    .hero-img img:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2; /* fila 1 y 2 */
        }

    .hero-img img:nth-child(2) {
        grid-column: 2;
        grid-row: 1; /* solo fila 1 */
        }

    .hero-img img:nth-child(3) {
        grid-column: 3;
        grid-row: 1 / span 3; /* fila 1, 2 y 3 */
        position: absolute;
        top: 120px;
        right: -30px;
        }

    .hero-img img:nth-child(4) {
        grid-column: 1;
        grid-row: 3; /* solo fila 3 */
        }

    .hero-img img:nth-child(5) {
        grid-column: 2;
        grid-row: 2 / span 2; /* fila 2 y 3 */
        }

    .hero-img img {
        width: 240px;
        height: auto;
        }
}